

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px);
  background-image: url("../../assets/berlin3.png");
  background-size: cover;
  background-position: center right;
}

.home-mission {
  font-size: 60px;
  margin-bottom: 10px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.home-start {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}




