<md-toolbar color="primary">

  <div class="toolbar-container">
    <div class="toolbar-container-item">
    </div>
    <div class="toolbar-container-item">
      <div class="title">
        <span routerLink="./" style="cursor:pointer">berlinfund</span>
      </div>
    </div>
    <div class="toolbar-container-item">

      <nav>
        <!--<button md-button color="accent" routerLink="./projects">-->
          <!--Project Owner-->
        <!--</button>-->
        <!--<button md-button color="accent" routerLink="./investments">-->
          <!--My Investments-->
        <!--</button>-->
        <button md-button routerLink="./login">
          Login
        </button>
        <button md-raised-button color="accent" routerLink="">
          Signup
        </button>
      </nav>
    </div>

  </div>
</md-toolbar>
