<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="main-container">
    <div class="background-image"></div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 login-area">
      <md-card>
        <form>
          <div class="card-header">
            <div class="login-text">
              <span>Login to your account</span>
            </div>
          </div>
            <div class="form-element">
              <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Username">
              </md-input-container>
            </div>
            <div class="form-element">
              <md-input-container class="full-width">
                <input mdInput type="password" placeholder="Password">
              </md-input-container>
            </div>
            <div class="form-element">
              <md-checkbox>Remember me</md-checkbox>
            </div>
          <div class="form-element">
            <button class="login-button" md-raised-button color="accent" type="submit">Login</button>
          </div>
            <div class="form-element">
              <div class="links-wrapper">
                <div class="password-forgot">
                  <a>Forgot password?</a>
                </div>
                <div class="signup-here">
                  <a>Sign up here</a>
                </div>
              </div>
            </div>
        </form>
      </md-card>
    </div>

  </div>
</div>
