<div class="container-fluid">
  <h1>Project Owner View</h1>
  <md-card>
    <md-card-header>
      <h3>My Projects</h3>
    </md-card-header>
    <md-card-content>
      This is a list with all the projects you have created:
    </md-card-content>
    <md-card-content>
      <md-list class="projects">
        <md-list-item *ngFor="let project of projects" (click)="onSelect(project)">
          <h4 md-line>{{project.name}}</h4>
          <p md-line> {{project.fundingStatus}} </p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>

      <div *ngIf="selectedProject">
        <h2>
          {{selectedProject.name | uppercase}} is my Project
        </h2>
        <button (click)="cancelProject()">Cancel this Project</button>
      </div>
    </md-card-content>
  </md-card>
</div>
