<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="img-container marketplace-container vertical-middle-align">
  </div>
  <div class="content-container">
    <h1>Marketplace</h1>
    <div class="row projects-container">
      <h3>Token Offers</h3>
      <div *ngFor="let offer of offers" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 project-card">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h4>Token Offer</h4>
            </md-card-title>
          </md-card-header>
          <md-card-content>
            <h5>For Project:</h5>
            <h5>Seller:</h5>
            <h5>Amount:</h5>
            <h5>Price:</h5>
          </md-card-content>
          <md-card-actions>
            <button md-button>Details</button>
            <button md-raised-button color="primary" class="pull-right" (click)="openDialog(offer)">Buy</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    <div class="row projects-container">
      <h3>My Offers</h3>
      <div *ngFor="let offer of offers" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 project-card">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h4>Token Offer</h4>
            </md-card-title>
          </md-card-header>
          <md-card-content>
            <h5>For Project:</h5>
            <h5>Seller:</h5>
            <h5>Amount:</h5>
            <h5>Price:</h5>
          </md-card-content>
          <md-card-actions>
            <button md-button>Details</button>
            <button md-raised-button color="primary" class="pull-right" (click)="openDialog(offer)">Buy</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>

