<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="img-container make-investment-container vertical-middle-align">
  </div>
  <div class="content-container" *ngIf="allProjectsLoaded">
    <div class="row projects-container">
      <h1>Make Investment</h1>
      <h3>Available projects</h3>
      <div *ngFor="let project of allProjects" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 project-card">
        <md-card>
          <md-card-header>
            <md-card-title>{{project.name}}</md-card-title>
          </md-card-header>
          <img md-card-image src="../../assets/startup.jpg">
          <md-card-content>
            <h5>Description:</h5>
            <p class="project-description-text">
              {{project.description}}
            </p>
            <h5>Funding Status: {{(project.fundingStatus/project.fundingGoal*100).toFixed(2)}}%</h5>
            <md-progress-bar
              class="funding-status-bar"
              [color]="'accent'"
              [mode]="'determinate'"
              [value]="(project.fundingStatus/project.fundingGoal*100).toFixed(2)">
            </md-progress-bar>
          </md-card-content>
          <md-card-actions>
            <button md-button>Details</button>
            <button md-raised-button color="primary" class="pull-right" (click)="openDialog(project)">Invest</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>

