.make-investment-container {
  background-image: url("../../assets/fund.png");
  background-position: bottom center;
  background-size: cover;
  height: 40vh;
}

.make-investment-container h1{
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.create-projects-container {
  width: 100%;
  padding: 20px;
  margin: 0;
}

