<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="container-fluid" style="background-color:aliceblue;">
    <div class="row">
      <div class="img-container vertical-middle-align">
      <h1 class="text-center text-primary" style="line-height: 40vh">Welcome!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4" style="background-color:pink">Use this document as a way to quickly start any new
        project.<br"> All you get is this text and a mostly barebones HTML document.
      </div>
      <div class="col-xs-4" style="background-color: red">Use this document as a way to quickly start any new
        project.<br> All you get is this text and a mostly barebones HTML document.
      </div>
      <div class="col-xs-4" style="background-color:blue">Use this document as a way to quickly start any new
        project.<br> All you get is this text and a mostly barebones HTML document.
      </div>
    </div>
  </div>

</div>
