/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
  margin: 0;
}

.container-fluid {
  height: calc(100vh - 64px);
  background-color: #EEEEEE;
  padding: 0;
}

md-toolbar {
  height: 64px !important;
}

.view-container {
  height: 100vh;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.full-width {
  width: 100%;
}

.mat-toolbar-row {
  height: 64px !important;
}

.pull-right {
  float: right;
}

.img-container{
  width: auto;
  padding: 0;
}

.content-container{
  width: 100%;
  background-color: #E4F6F8;
  height: auto;
}

.content-container h3 {
  text-align: center;
}

.content-container h1 {
  text-align: center;
  margin:20px 0px 40px 0px;
  font-weight: bold;
}

.project-card {
  padding: 10px 10px 10px 0px;
}



.project-description-text {
  min-height: 100px;
  max-height: 100px;
  text-overflow: ellipsis;
}

.projects-container {
  width: 100%;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid lightgrey;
}

