<div class="container-fluid">
  <h1>User View</h1>
  <md-card>
    <md-card-header>
      <h3>Create Project</h3>
    </md-card-header>
    <md-card-content>
      Test
    </md-card-content>
    <md-card-actions>
      <button md-button>Create</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <h3>Invest in Project</h3>
    </md-card-header>
    <md-card-content>
      Test
    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>
</div>
